header h1{
    border: solid 1px darkslateblue; /*ääris*/
    padding: 4%; /*vahe tekstist ääreseni*/
    margin: 10px;
    border-radius: 60px;
    width: 60%;
    background-color: mediumorchid;
    letter-spacing: 0.05cm;
    font-variant: small-caps;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: lightseagreen;
}

li{
    float: left;
    display: block;
    text-align: center;
    padding: 0px;
}

li a{
    text-decoration: none;
    color: black;
    padding: 10px;

}
li a:hover{ /*lingid fokuses*/
background-color: darkslateblue;

}
footer{
    text-align: center;
    /* margin-top: 20%;*/
    background-color: peru;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}

section{
    background-color: lightseagreen;
    color: darkslateblue;
}

